<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <title th:text="#{title.article.list}">온라인 마크다운 PPT 서비스! 피피토 | PPT 리스트</title>
</head>

<div layout:fragment="content">
    <div class="wrap container mx-auto">
        <div class="ppt-content-wrap mt-4 p-2 py-4 mb-4">
            <ul class="grid lg:grid-cols-4 md:grid-cols-3 grid-cols-2 gap-3">
                <li th:each=" article : ${articles}" class="ppt-content h-auto flex flex-col p-2">
                    <div class="content-profile w-full h-auto rounded-lg shadow">
                        <div>
                            <div>
                                <div class="content-foot w-full flex">
                                    <div class="flex items-center absolute p-2">
                                        <a href="#">
                                                <span>
                                                  <i class="far fa-star text-xl text-gray-500"></i>
                                                </span>
                                            <span class="text-md text-gray-500"> 45 </span>
                                        </a>
                                    </div>
                                    <a th:href="@{~/articles/view/} + ${article.id}" >
                                        <img src="/img/thumbnail.jpg" alt="thumbnail relative">
                                    </a>
                                </div>
                                <div class="flex flex-row justify-between">
                                    <a th:href="@{~/articles/view/} + ${article.id}" class="content-body p-2 flex">
                                        <p th:text="${article.title}">Title : This is Title Area</p>
                                    </a>
                                    <div sec:authorize="isAuthenticated()" class="flex items-center justify-right">
                                        <a href="#" class="hover:underline">
                                                  <span class="text-xl mr-3">
                                                      <a th:href="@{~/articles/} + ${article.id}">
                                                        <i class="fas fa-pen-square"></i>
                                                      </a>
                                                  </span>
                                        </a>
                                        <span class="mr-3 cursor-pointer" id="trashBin"
                                              th:attr="onclick=|delContent('${article.id}')|">
                                                 <i class="fas fa-trash-alt"></i>
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
                                </td>
                                <td th:with="member = ${article.member}" class="px-6 py-4">
                                    <span th:text="${member.nickname}"></span>
                                </td>
                                <td class="px-6 py-4">
                                    <span th:text="${article.regDate}"></span>
                                </td>
                                <td class="py-4">
                                    <form id="delete-form" th:action="@{'/articles/' + ${article.id}}" method="post">
                                        <input type="hidden" name="_method" value="delete"/>
                                        <button th:text="#{button.delete}" id="delete-btn" onclick="return confirm('정말 삭제하시겠습니까?');">삭제</button>
                                    </form>
                                </td>
                                <td class="py-4">
                                    <a th:href="@{/articles/view/{articleId}(articleId=${article.id})}">
                                    <span>
                                      <i class="far fa-eye"></i>
                                    </span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>