<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

  <!-- 임시 -->
  <section th:fragment="boardAddFragment" class="board-add">
    <div class="flex justify-center bg-gray-100">
      <div class="flex flex-col p-6">
        <span th:text="#{board.add}" class="flex justify-center text-lg mr-4 mb-4">게시판 추가</span>
        <span th:text="#{board.add.name}"  class="text-sm mr-4 mb-2 text-gray-400">게시판 이름을 입력해 주세요</span>
        <form action="/adm/boards/add" method="post">
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
          <div class="mb-2 flex justify-center">
            <div class="flex flex-col items-center">
              <input class="appearance-none border rounded w-64 py-2.5 px-3 text-grey-darker" maxlength="30" name="name" type="text" placeholder="게시판 이름을 입력하세요">
            </div>
          </div>
          <div class="flex justify-center flex-row w-64">
            <button type="submit" text="#{button.modify}" class="btn-add flex justify-center p-2 bg-gray-900 rounded text-white mr-4 w-20">확인</button>
            <a id="boardAdd_close_btn" class="btn-cancel flex justify-center p-2 bg-gray-700 rounded text-white mr-4 w-20">취소</a>
          </div>
        </form>
      </div>
    </div>
  </section>

</body>
</html>